
{% extends 'base.html.twig' %}

{% block title %}Résultat de la numérisation{% endblock %}

{% block body %}
<div class="container">
    <h1>Résultat de la numérisation</h1>
    <p>{{ message }}</p>
</div>
{% endblock %}
